<template>
  <div id="app">
    <div class="has-text-centered p-t-20 p-b-20">
      <h1 class="title">Clinical Chain</h1>
      <h2 class="subtitle">secure your history with blockchain!</h2>
    </div>

    <div v-if="corrupted" class="notification is-danger">
      Este blockchain esta corrupto!
    </div>

    <template v-if="started">
      <div class="tabs is-centered">
        <ul>
          <li :class="{ 'is-active': tab === 0 }">
            <a @click="tab = 0;">
              <span class="icon"
                ><i class="fas fa-table" aria-hidden="true"></i
              ></span>
              <span>Historial</span>
            </a>
          </li>
          <li :class="{ 'is-active': tab === 1 }">
            <a @click="tab = 1;">
              <span class="icon"
                ><i class="fas fa-plus" aria-hidden="true"></i
              ></span>
              <span>Agregar</span>
            </a>
          </li>
          <li :class="{ 'is-active': tab === 2 }">
            <a @click="tab = 2;">
              <span class="icon"
                ><i class="fas fa-user-secret" aria-hidden="true"></i
              ></span>
              <span>Hackear</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <history v-if="tab === 0" :chain="chain" />
            <add-block v-else-if="tab === 1" @addblock="onBLockAdded" />
            <hack
              v-else-if="tab === 2"
              :chain="chain"
              @editblock="onBlockEdited"
            />
          </div>
        </div>
      </div>
    </template>
    <div class="field has-addons has-addons-centered p-t-100">
      <div class="control">
        <input
          v-model="address"
          class="input"
          type="text"
          required
          placeholder="Dirección del Peer API"
        />
      </div>
      <div class="control">
        <a
          class="button is-primary"
          :class="{ 'is-loading': starting }"
          @click="connectToPeer"
        >
          Conectarse
        </a>
      </div>
    </div>
    <p v-if="errorStarting" class="is-block help is-danger has-text-centered">
      Peer Invalido, debe tener la forma: 192.168.1.2:5000
    </p>

    <div class="" v-if="started && info">
      <div class="field has-addons has-addons-centered">
        <label class="label m-r-10">Conexión UNIX: </label>
        <p class="control">
          <input
            class="input"
            :value="`/ip4/${info.ip}/tcp/${info.port}${info.ipfs}`"
            readonly
          />
        </p>
      </div>
      <div class="field has-addons has-addons-centered">
        <label class="label m-r-10">Conexión Windows: </label>
        <p class="control">
          <input class="input" :value="getWindowsIpfs(info)" readonly />
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import AddBlock from "@/components/AddBlock";
import Hack from "@/components/Hack";
import History from "@/components/History";

export default {
  name: "app",
  components: {
    AddBlock,
    Hack,
    History
  },
  data: () => ({
    address: null,
    info: null,
    tab: 0,
    starting: false,
    started: false,
    errorStarting: false,
    corrupted: false,
    chain: []
  }),
  mounted() {
    const params = new URL(document.location).searchParams;
    const address = params.get("address");

    if (address) {
      this.address = decodeURI(address);
    }
  },
  methods: {
    connectToPeer() {
      this.corrupted = false;
      this.starting = true;
      this.errorStarting = false;
      this.chain = [];
      this.info = null;

      axios
        .get(`http://${this.address}/info`)
        .then(response => {
          this.info = response.data;
          this.started = true;
          const pageUrl = "?address=" + encodeURI(this.address);
          window.history.pushState("", "", pageUrl);
          this.getChain();
        })
        .catch(() => {
          this.errorStarting = true;
          this.started = false;
        })
        .then(() => {
          this.starting = false;
        });
    },
    getValid() {
      axios
        .get(`http://${this.address}/valid`)
        .then(response => {
          this.corrupted = !response.data.valid;
        })
        .catch(() => {
          this.errorStarting = true;
          this.started = false;
        });
    },
    getChain() {
      axios
        .get(`http://${this.address}/`)
        .then(response => {
          this.chain = response.data;
          this.getValid();
        })
        .catch(() => {
          this.errorStarting = true;
          this.started = false;
        });
    },
    getWindowsIpfs(info) {
      const actualIpfs = info.ipfs.replace(/\//g, "\\");
      return `"//ip4\\${info.ip}\\tcp\\${info.port}${actualIpfs}"`;
    },
    onBLockAdded(data) {
      this.tab = 0;
      axios
        .post(`http://${this.address}/`, data, {
          headers: { "Content-Type": "text/plain" }
        })
        .then(() => {
          this.getChain();
        })
        .catch(() => {
          this.errorStarting = true;
          this.started = false;
        });
    },
    onBlockEdited({ index, data }) {
      this.tab = 0;
      axios
        .post(
          `http://${this.address}/edit`,
          { index, ...data },
          {
            headers: { "Content-Type": "text/plain" }
          }
        )
        .then(() => {
          this.getChain();
        })
        .catch(() => {
          this.errorStarting = true;
          this.started = false;
        });
    }
  }
};
</script>
