<template>
  <div>
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input
          v-model="pacient"
          class="input"
          type="text"
          placeholder="Paciente"
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Medicina</label>
      <div class="control">
        <div class="select">
          <select v-model="medicine">
            <option>Aspirina</option>
            <option>Omeprazol</option>
            <option>Lexotiroxina sódica</option>
            <option>Warfarina sódic</option>
            <option>Citalopram</option>
            <option>Colecalciferol</option>
            <option>Salbutamol</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Dosis</label>
      <div class="control">
        <div class="select">
          <select v-model.number="quantity">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button v-if="pacient" class="button is-link" @click="add">
          Guardar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "add-block",
  data: () => ({
    pacient: "",
    medicine: "Aspirina",
    quantity: 1
  }),
  methods: {
    add() {
      this.$emit("addblock", {
        pacient: this.pacient,
        medicine: this.medicine,
        quantity: this.quantity
      });
    }
  }
};
</script>
