<template>
  <div>
    <history :chain="chain" @clickblock="onBlockClicked" />
    <add-block ref="addBlock" v-show="block" @addblock="onBlockEdited" />
  </div>
</template>

<script>
import AddBlock from "@/components/AddBlock";
import History from "@/components/History";

export default {
  name: "hack",
  components: {
    AddBlock,
    History
  },
  props: {
    chain: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    block: null
  }),
  methods: {
    onBlockClicked(block) {
      this.$refs.addBlock.pacient = block.Pacient;
      this.$refs.addBlock.medicine = block.Medicine;
      this.$refs.addBlock.quantity = block.Quantity;
      this.block = { ...block };
    },
    onBlockEdited(block) {
      this.$emit("editblock", { index: this.block.Index, data: { ...block } });
    }
  }
};
</script>
