<template>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Index</th>
        <th>Tiempo</th>
        <th>Hash</th>
        <th>Anterior Hash</th>
        <th>Paciente</th>
        <th>Medicamento</th>
        <th>Dosis</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="block in chain"
        :key="block.index"
        @click="$emit('clickblock', block);"
      >
        <td>{{ block.Index }}</td>
        <td>{{ block.Timestamp | localTime }}</td>
        <td>{{ block.Hash | hash }}</td>
        <td>{{ block.PrevHash | hash }}</td>
        <td>{{ block.Pacient }}</td>
        <td>{{ block.Medicine }}</td>
        <td>{{ block.Quantity }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "history",
  filters: {
    hash(hashComplete) {
      return hashComplete.substring("0", "5");
    },
    localTime(time) {
      const date = new Date(time);
      return date.toLocaleTimeString();
    }
  },
  props: {
    chain: {
      type: Array,
      required: true
    }
  }
};
</script>
